---
layout: default
---

<article id="blog">

  <section>
    <div class="block border">
      <div class="wrapper clearfix">
        <h6>Company News</h6>
        <div class="blog-list-container" id="blogs-slider">
          {% for post in site.posts %}
          {% capture modulo %}{{ forloop.index | modulo: 6 }}{% endcapture %}
          {% if modulo == '1' %}
          <div class="slide">
            <div class="clearfix">
              {% endif %}
              <div class="news clearfix">
                <figure>
                  <div class="image">
                    <img src="/img/members/{{ post.author_login }}.jpg" alt="{{ post.author }}"/>
                  </div>
                </figure>

                <div class="text">
                  <a href="{{ post.url }}">
                    <h4 class="font-dark-blue">{{ post.title }}</h4>
                  </a>
                  {{ post.date | date: "%-d %B %Y" }} | <strong>{{ post.author }}</strong><br/><br/>

                  <p>
                    Tutaj będzie excerpt.
                  </p>

                  <br/>
                  <a href="{{ post.url }}" class="read-more">Read more</a>
                </div>
              </div>
              {% if forloop.last or modulo == '0' %}
            </div>
          </div>
          {% endif %}
          {% endfor %}
        </div>

        <nav id="blogs-slider-nav" class="clearfix">
          <a class="prev"></a>
          <a class="next"></a>
        </nav>
        <a href="#" class="see-more blog-list-link">See all</a>
      </div>

    </div>
  </section>


  <section>
    <div class="block border">
      <div class="wrapper clearfix">
        <h6>Our team's posts</h6>
        <div class="blog-list-container" id="members-blogs-slider">
          {% for post in site.posts %}
          {% capture modulo %}{{ forloop.index | modulo: 6 }}{% endcapture %}
          {% if modulo == '1' %}
          <div class="slide">
            <div class="clearfix ">
              {% endif %}
              <div class="news clearfix">
                <figure class="green">
                  <div class="image">
                    <img src="/img/members/{{ post.author_login }}.jpg" alt="Jan Zborowski"/>
                  </div>
                </figure>

                <div class="text">
                  <a href="{{ post.url }}">
                    <h4 class="font-dark-blue">{{ post.title }}</h4>
                  </a>
                  {{ post.date | date: "%-d %B %Y" }} | <strong>{{ post.author }}</strong><br/><br/>

                  <p>
                    Tutaj będzie excerpt.
                  </p>

                  <br/>
                  <a href="{{ post.url }}" class="read-more">Read more</a>
                </div>
              </div>
              {% if forloop.last or modulo == '0' %}
            </div>
          </div>
          {% endif %}
          {% endfor %}
        </div>

        <nav id="members-blogs-slider-nav" class="clearfix">
          <a class="prev"></a>
          <a class="next"></a>
        </nav>

        <a href="#" class="see-more blog-list-link">See all</a>
      </div>

    </div>
  </section>


  <section id="blog-list">
    <div class="block">
      <div class="wrapper clearfix">
        <div class="col2">
          <h6>Team members' blogs</h6>

          <ul class="members-blog">
            <li><a href="http://maciej.inszy.org" target="_blank" class="clearfix">
              <div class="name"><span></span>Maciej Biłas</div>
              <div class="link">tail ‐f log/development.log</div>
            </a></li>
            <li><a href="http://piotrbuda.eu" target="_blank" class="clearfix">
              <div class="name"><span></span>Piotr Buda</div>
              <div class="link">Software Ramblings</div>
            </a></li>
            <li><a href="http://abstractionextraction.wordpress.com" target="_blank" class="clearfix">
              <div class="name"><span></span>Krzysztof Ciesielski</div>
              <div class="link">Abstraction Extraction</div>
            </a></li>
            <li><a href="http://tomaszdziurko.pl" target="_blank" class="clearfix">
              <div class="name"><span></span>Tomasz Dziurko</div>
              <div class="link">Code Hard Go Pro</div>
            </a></li>
            <li><a href="http://www.softwarepassion.com" target="_blank" class="clearfix">
              <div class="name"><span></span>Krzysztof Grajek</div>
              <div class="link">Software Passion</div>
            </a></li>
            <li><a href="http://kijanowski.blogspot.com" target="_blank" class="clearfix">
              <div class="name"><span></span>Jarosław Kijanowski</div>
              <div class="link">Liquid Sky</div>
            </a></li>
            <li><a href="http://blog.kunicki.org" target="_blank" class="clearfix">
              <div class="name"><span></span>Jacek Kunicki</div>
              <div class="link">Blog Rudego. Góry i nie tylko</div>
            </a></li>
            <li><a href="http://dailylog.lenart.org.pl" target="_blank" class="clearfix">
              <div class="name"><span></span>Łukasz Lenart</div>
              <div class="link">Dailylog – from my work as a developer</div>
            </a></li>
            <li><a href="http://www.nowaker.net/" target="_blank" class="clearfix">
              <div class="name"><span></span>Damian Nowak</div>
              <div class="link">#!/bin/nwkr devblog</div>
            </a></li>
            <li><a href="http://michalostruszka.pl" target="_blank" class="clearfix">
              <div class="name"><span></span>Michał Ostruszka</div>
              <div class="link">Hi, I'm Michal. I write code.</div>
            </a></li>
            <li><a href="http://pawelstawicki.blogspot.com" target="_blank" class="clearfix">
              <div class="name"><span></span>Paweł Stawicki</div>
              <div class="link">Java, the programming and everything</div>
            </a></li>
            <li><a href="http://szimano.org" target="_blank" class="clearfix">
              <div class="name"><span></span>Tomasz Szymański</div>
              <div class="link">Szimano’s Blog</div>
            </a></li>
            <li><a href="http://www.warski.org/blog/" target="_blank" class="clearfix">
              <div class="name"><span></span>Adam Warski</div>
              <div class="link">Java, Scala, programming, ...</div>
            </a></li>
            <li><a href="http://pawel.wrzesz.cz" target="_blank" class="clearfix">
              <div class="name"><span></span>Paweł Wrzeszcz</div>
              <div class="link">agile software development yoga</div>
            </a></li>
            <li><a href="http://blog.zuchos.com" target="_blank" class="clearfix">
              <div class="name"><span></span>Łukasz Żuchowski</div>
              <div class="link">Blog of Łukasz Żuchowski</div>
            </a></li>
          </ul>
        </div>
        <div class="col2 members-tweets">
          <h6>Our team’s tweets</h6>

          <div class="our-teams-tweets-nav clearfix">
            <a href="#" class="prev"></a>
            <a href="#" class="next"></a>
          </div>
          <div class="clearfix our-teams-tweets" data-source="https://api.twitter.com/1.1/search/tweets.json?q=%23freebandnames&since_id=24012619984051000&max_id=250126199840518145&result_type=mixed&count=4">
            <div class="tweet-box">
              <div class="item clearfix">
                <figure>
                  <img src="https://si0.twimg.com/profile_images/2819897923/d13e64c0ab7c371d1b632e20305c557e_normal.jpeg" alt="Lukasz Lenart"/>
                </figure>
                <div class="text"><h6 class="clearfix"><span>Lukasz Lenart</span>
                  <a href="http://twitter.com/lukaszlenart" target="_blank">@lukaszlenart</a>
                  <span class="date">Sep 25</span></h6>
                  <a href="http://twitter.com/search?q=jdn" target="_blank">#jdn</a> is alive! po tylko miesiącach
                  myślałem, że już nie da się przywrócić :-) <a href="http://t.co/DHM8agatjx" target="_blank">http://t.co/DHM8agatjx</a>
                </div>
              </div>
              <div class="item clearfix">
                <figure>
                  <img src="https://si0.twimg.com/profile_images/344513261565732671/9c85097693dd74f3dbe092e9c249d39f_normal.jpeg" alt="Michał Ostruszka"/>
                </figure>
                <div class="text"><h6 class="clearfix"><span>Michał Ostruszka</span>
                  <a href="http://twitter.com/mostruszka" target="_blank">@mostruszka</a>
                  <span class="date">Sep 25</span></h6><a href="http://www.twitter.com/jsfiddle" target="_blank">@jsfiddle</a>
                  can't get it working. Clicking on Collaboration button does nothing except changing url. Checked on FF
                  24 &amp; Chrome Canary 31.
                </div>
              </div>
              <div class="item clearfix">
                <figure>
                  <img src="https://si0.twimg.com/profile_images/344513261565732671/9c85097693dd74f3dbe092e9c249d39f_normal.jpeg" alt="Michał Ostruszka"/>
                </figure>
                <div class="text"><h6 class="clearfix"><span>Michał Ostruszka</span>
                  <a href="http://twitter.com/mostruszka" target="_blank">@mostruszka</a>
                  <span class="date">Sep 24</span></h6><a href="http://www.twitter.com/angustweets" target="_blank">@angustweets</a>
                  automate that lifestyle :)
                </div>
              </div>
              <div class="item clearfix">
                <figure>
                  <img src="https://abs.twimg.com/sticky/default_profile_images/default_profile_2_normal.png" alt="Michał Matłoka"/>
                </figure>
                <div class="text"><h6 class="clearfix"><span>Michał Matłoka</span>
                  <a href="http://twitter.com/mmatloka" target="_blank">@mmatloka</a> <span class="date">Sep 24</span>
                </h6><a href="http://www.twitter.com/majson" target="_blank">@majson</a>
                  <a href="http://www.twitter.com/jmnarloch" target="_blank">@jmnarloch</a>
                  <a href="http://www.twitter.com/JohnAment" target="_blank">@JohnAment</a> ufff, I got the correct one
                  :P
                </div>
              </div>
              <div class="item clearfix">
                <figure>
                  <img src="https://si0.twimg.com/profile_images/344513261565732671/9c85097693dd74f3dbe092e9c249d39f_normal.jpeg" alt="Michał Ostruszka"/>
                </figure>
                <div class="text"><h6 class="clearfix"><span>Michał Ostruszka</span>
                  <a href="http://twitter.com/mostruszka" target="_blank">@mostruszka</a>
                  <span class="date">Sep 24</span></h6>My new short blog post: Play with
                  <a href="http://twitter.com/search?q=AngularJS" target="_blank">#AngularJS</a> scopes from browser's
                  console. That's super-easy.
                  <a href="http://t.co/XZ2p7p6qIb" target="_blank">http://t.co/XZ2p7p6qIb</a></div>
              </div>
            </div>
            <div class="tweet-box">
              <div class="item clearfix">
                <figure>
                  <img src="https://abs.twimg.com/sticky/default_profile_images/default_profile_2_normal.png" alt="Michał Matłoka"/>
                </figure>
                <div class="text"><h6 class="clearfix"><span>Michał Matłoka</span>
                  <a href="http://twitter.com/mmatloka" target="_blank">@mmatloka</a> <span class="date">Sep 24</span>
                </h6><a href="http://www.twitter.com/ALRubinger" target="_blank">@ALRubinger</a>
                  <a href="http://www.twitter.com/majson" target="_blank">@majson</a>
                  <a href="http://www.twitter.com/aslakknutsen" target="_blank">@aslakknutsen</a>
                  <a href="http://www.twitter.com/JohnAment" target="_blank">@JohnAment</a> and
                  <a href="http://www.twitter.com/karelpiwko" target="_blank">@karelpiwko</a> of course :)
                </div>
              </div>
              <div class="item clearfix">
                <figure>
                  <img src="https://abs.twimg.com/sticky/default_profile_images/default_profile_2_normal.png" alt="Michał Matłoka"/>
                </figure>
                <div class="text"><h6 class="clearfix"><span>Michał Matłoka</span>
                  <a href="http://twitter.com/mmatloka" target="_blank">@mmatloka</a> <span class="date">Sep 24</span>
                </h6><a href="http://www.twitter.com/ALRubinger" target="_blank">@ALRubinger</a>
                  <a href="http://www.twitter.com/majson" target="_blank">@majson</a>
                  <a href="http://www.twitter.com/aslakknutsen" target="_blank">@aslakknutsen</a>
                  <a href="http://www.twitter.com/JohnAment" target="_blank">@JohnAment</a> do you have any ARQ themed
                  template for presentations?
                </div>
              </div>
              <div class="item clearfix">
                <figure>
                  <img src="https://si0.twimg.com/profile_images/1154087697/902bcec23881c4d32f6b7a1f9797a061_normal.jpeg" alt="grajo"/>
                </figure>
                <div class="text"><h6 class="clearfix"><span>grajo</span>
                  <a href="http://twitter.com/grajo" target="_blank">@grajo</a> <span class="date">Sep 23</span></h6>
                  Yuppiii! Finally AWS Console for iPhone, iPad, and iPod touch on the iTunes App Store
                  <a href="http://t.co/vrD3mHuAW7" target="_blank">http://t.co/vrD3mHuAW7</a></div>
              </div>
              <div class="item clearfix">
                <figure>
                  <img src="https://si0.twimg.com/profile_images/344513261565732671/9c85097693dd74f3dbe092e9c249d39f_normal.jpeg" alt="Michał Ostruszka"/>
                </figure>
                <div class="text"><h6 class="clearfix"><span>Michał Ostruszka</span>
                  <a href="http://twitter.com/mostruszka" target="_blank">@mostruszka</a>
                  <span class="date">Sep 23</span></h6><a href="http://www.twitter.com/derickbailey" target="_blank">@derickbailey</a>
                  what's your <a href="http://twitter.com/search?q=expressjs" target="_blank">#expressjs</a> app style
                  and what's wrong with it?
                </div>
              </div>
              <div class="item clearfix">
                <figure>
                  <img src="https://si0.twimg.com/profile_images/344513261565732671/9c85097693dd74f3dbe092e9c249d39f_normal.jpeg" alt="Michał Ostruszka"/>
                </figure>
                <div class="text"><h6 class="clearfix"><span>Michał Ostruszka</span>
                  <a href="http://twitter.com/mostruszka" target="_blank">@mostruszka</a>
                  <span class="date">Sep 22</span></h6>True RT:
                  <a href="http://www.twitter.com/jasongorman" target="_blank">@jasongorman</a>: I try to warn against
                  "refactoring sprints". It's like closing your restaurant for 2 weeks to clean. Customers notice
                </div>
              </div>
            </div>
            <div class="tweet-box">
              <div class="item clearfix">
                <figure>
                  <img src="https://si0.twimg.com/profile_images/2523881551/i9xceifeww6qkusali3s_normal.jpeg" alt="Adam Warski"/>
                </figure>
                <div class="text"><h6 class="clearfix"><span>Adam Warski</span>
                  <a href="http://twitter.com/adamwarski" target="_blank">@adamwarski</a>
                  <span class="date">Sep 22</span></h6>My
                  <a href="http://twitter.com/search?q=javazone" target="_blank">#javazone</a> 2013 trip report:
                  <a href="http://t.co/wl8HfHfglE" target="_blank">http://t.co/wl8HfHfglE</a></div>
              </div>
              <div class="item clearfix">
                <figure>
                  <img src="https://si0.twimg.com/profile_images/2523881551/i9xceifeww6qkusali3s_normal.jpeg" alt="Adam Warski"/>
                </figure>
                <div class="text"><h6 class="clearfix"><span>Adam Warski</span>
                  <a href="http://twitter.com/adamwarski" target="_blank">@adamwarski</a>
                  <span class="date">Sep 22</span></h6>Another interesting talk by
                  <a href="http://www.twitter.com/richhickey" target="_blank">@richhickey</a> on design &amp;
                  composition (also in the musical sense!): <a href="http://t.co/2hOSeFXkQP" target="_blank">http://t.co/2hOSeFXkQP</a>
                </div>
              </div>
              <div class="item clearfix">
                <figure>
                  <img src="https://si0.twimg.com/profile_images/3529991490/b7b18bd9a2589454bf024a232f31ca90_normal.jpeg" alt="Maciej Biłas"/>
                </figure>
                <div class="text"><h6 class="clearfix"><span>Maciej Biłas</span>
                  <a href="http://twitter.com/maciejb" target="_blank">@maciejb</a> <span class="date">Sep 21</span>
                </h6><a href="http://www.twitter.com/elamadej" target="_blank">@elamadej</a> good read! Thanks!
                </div>
              </div>
              <div class="item clearfix">
                <figure>
                  <img src="https://si0.twimg.com/profile_images/3726316203/77f8dcb90ce9fc8c89339dcbeef0a679_normal.png" alt="Krzysztof Ciesielski"/>
                </figure>
                <div class="text"><h6 class="clearfix"><span>Krzysztof Ciesielski</span>
                  <a href="http://twitter.com/kpciesielski" target="_blank">@kpciesielski</a>
                  <span class="date">Sep 21</span></h6>Good talk about modeling systems with events, documents and
                  routing slip by <a href="http://www.twitter.com/gregyoung" target="_blank">@gregyoung</a>
                  <a href="http://t.co/91djwZBiPq" target="_blank">http://t.co/91djwZBiPq</a></div>
              </div>
              <div class="item clearfix">
                <figure>
                  <img src="https://si0.twimg.com/profile_images/3726316203/77f8dcb90ce9fc8c89339dcbeef0a679_normal.png" alt="Krzysztof Ciesielski"/>
                </figure>
                <div class="text"><h6 class="clearfix"><span>Krzysztof Ciesielski</span>
                  <a href="http://twitter.com/kpciesielski" target="_blank">@kpciesielski</a>
                  <span class="date">Sep 21</span></h6>Marla Spivak: Why bees are disappearing
                  <a href="http://t.co/3eHGrB5nFF" target="_blank">http://t.co/3eHGrB5nFF</a></div>
              </div>
            </div>
            <div class="tweet-box">
              <div class="item clearfix">
                <figure>
                  <img src="https://si0.twimg.com/profile_images/344513261565732671/9c85097693dd74f3dbe092e9c249d39f_normal.jpeg" alt="Michał Ostruszka"/>
                </figure>
                <div class="text"><h6 class="clearfix"><span>Michał Ostruszka</span>
                  <a href="http://twitter.com/mostruszka" target="_blank">@mostruszka</a>
                  <span class="date">Sep 21</span></h6>I'm preparing stuff for my
                  <a href="http://www.twitter.com/warsjawa" target="_blank">@warsjawa</a> workshop with
                  <a href="http://twitter.com/search?q=AngularJS" target="_blank">#AngularJS</a>. Some
                  <a href="http://twitter.com/search?q=nodejs" target="_blank">#nodejs</a> coding on top of express.js
                  ahead. Yay!
                </div>
              </div>
              <div class="item clearfix">
                <figure>
                  <img src="https://si0.twimg.com/profile_images/344513261565732671/9c85097693dd74f3dbe092e9c249d39f_normal.jpeg" alt="Michał Ostruszka"/>
                </figure>
                <div class="text"><h6 class="clearfix"><span>Michał Ostruszka</span>
                  <a href="http://twitter.com/mostruszka" target="_blank">@mostruszka</a>
                  <span class="date">Sep 21</span></h6>Saturday morning. Why not build something? No, not software stuff
                  this time :) <a href="http://twitter.com/search?q=funwithkid" target="_blank">#funwithkid</a>
                  <a href="http://twitter.com/search?q=lego" target="_blank">#lego</a>
                  <a href="http://t.co/B3DxWODQwB" target="_blank">http://t.co/B3DxWODQwB</a></div>
              </div>
              <div class="item clearfix">
                <figure>
                  <img src="https://si0.twimg.com/profile_images/3726316203/77f8dcb90ce9fc8c89339dcbeef0a679_normal.png" alt="Krzysztof Ciesielski"/>
                </figure>
                <div class="text"><h6 class="clearfix"><span>Krzysztof Ciesielski</span>
                  <a href="http://twitter.com/kpciesielski" target="_blank">@kpciesielski</a>
                  <span class="date">Sep 20</span></h6><a href="http://www.twitter.com/0r81t" target="_blank">@0r81t</a>
                  yep, beerops :)
                </div>
              </div>
              <div class="item clearfix">
                <figure>
                  <img src="https://si0.twimg.com/profile_images/3726316203/77f8dcb90ce9fc8c89339dcbeef0a679_normal.png" alt="Krzysztof Ciesielski"/>
                </figure>
                <div class="text"><h6 class="clearfix"><span>Krzysztof Ciesielski</span>
                  <a href="http://twitter.com/kpciesielski" target="_blank">@kpciesielski</a>
                  <span class="date">Sep 20</span></h6>It's beer o'clock
                </div>
              </div>
              <div class="item clearfix">
                <figure>
                  <img src="https://si0.twimg.com/profile_images/3211897605/6a8c43351d0876128db1f6b644034420_normal.jpeg" alt="Pawel Wrzeszcz"/>
                </figure>
                <div class="text"><h6 class="clearfix"><span>Pawel Wrzeszcz</span>
                  <a href="http://twitter.com/pawelwrzeszcz" target="_blank">@pawelwrzeszcz</a> <span class="date">Sep 20</span>
                </h6>How to get your first 10 customers (via <a href="http://www.twitter.com/Pocket" target="_blank">@Pocket</a>)
                  <a href="http://t.co/4DjD8i4ide" target="_blank">http://t.co/4DjD8i4ide</a></div>
              </div>
            </div>
            <div class="tweet-box">
              <div class="item clearfix">
                <figure>
                  <img src="https://si0.twimg.com/profile_images/3211897605/6a8c43351d0876128db1f6b644034420_normal.jpeg" alt="Pawel Wrzeszcz"/>
                </figure>
                <div class="text"><h6 class="clearfix"><span>Pawel Wrzeszcz</span>
                  <a href="http://twitter.com/pawelwrzeszcz" target="_blank">@pawelwrzeszcz</a> <span class="date">Sep 20</span>
                </h6>At last! Automatic app updates in
                  <a href="http://twitter.com/search?q=iOS7" target="_blank">#iOS7</a> I hated clicking "update" all the
                  time.
                </div>
              </div>
              <div class="item clearfix">
                <figure>
                  <img src="https://si0.twimg.com/profile_images/1702628409/face_final_normal.JPG" alt="Tomasz Dziurko"/>
                </figure>
                <div class="text"><h6 class="clearfix"><span>Tomasz Dziurko</span>
                  <a href="http://twitter.com/TomaszDziurko" target="_blank">@TomaszDziurko</a> <span class="date">Sep 20</span>
                </h6>Wybierasz się na Devoxxa? Dołącz do naszej ekipy i podróżujmy razem!
                  <a href="https://t.co/udVx6ocijl" target="_blank">https://t.co/udVx6ocijl</a>
                  <a href="http://twitter.com/search?q=Devoxx" target="_blank">#Devoxx</a></div>
              </div>
              <div class="item clearfix">
                <figure>
                  <img src="https://abs.twimg.com/sticky/default_profile_images/default_profile_2_normal.png" alt="Michał Matłoka"/>
                </figure>
                <div class="text"><h6 class="clearfix"><span>Michał Matłoka</span>
                  <a href="http://twitter.com/mmatloka" target="_blank">@mmatloka</a> <span class="date">Sep 20</span>
                </h6>Thre was a GeeCONTrain, then ConfituraBus and now we have a DevoxxPlane !
                  <a href="https://t.co/DV7Pnl5tCK" target="_blank">https://t.co/DV7Pnl5tCK</a> by
                  <a href="http://www.twitter.com/softwaremill" target="_blank">@softwaremill</a></div>
              </div>
              <div class="item clearfix">
                <figure>
                  <img src="https://si0.twimg.com/profile_images/344513261565732671/9c85097693dd74f3dbe092e9c249d39f_normal.jpeg" alt="Michał Ostruszka"/>
                </figure>
                <div class="text"><h6 class="clearfix"><span>Michał Ostruszka</span>
                  <a href="http://twitter.com/mostruszka" target="_blank">@mostruszka</a>
                  <span class="date">Sep 20</span></h6><a href="http://www.twitter.com/lukaszkorecki" target="_blank">@lukaszkorecki</a>
                  Use Intellij Idea. It's free Community Edition is way better than Eclipse.
                </div>
              </div>
              <div class="item clearfix">
                <figure>
                  <img src="https://si0.twimg.com/profile_images/2529116766/bmt2xco6uzcca1790g6p_normal.png" alt="Piotr Buda"/>
                </figure>
                <div class="text"><h6 class="clearfix"><span>Piotr Buda</span>
                  <a href="http://twitter.com/piotrbuda" target="_blank">@piotrbuda</a> <span class="date">Sep 20</span>
                </h6><a href="http://www.twitter.com/abdullin" target="_blank">@abdullin</a> hmm, I suppose their scale,
                  architecture solutions and the fact they made quite a lot on a single thread
                </div>
              </div>
            </div>
            <div class="tweet-box">
              <div class="item clearfix">
                <figure>
                  <img src="https://si0.twimg.com/profile_images/2529116766/bmt2xco6uzcca1790g6p_normal.png" alt="Piotr Buda"/>
                </figure>
                <div class="text"><h6 class="clearfix"><span>Piotr Buda</span>
                  <a href="http://twitter.com/piotrbuda" target="_blank">@piotrbuda</a> <span class="date">Sep 20</span>
                </h6>Retros are good for venting <a href="http://twitter.com/search?q=agile" target="_blank">#agile</a>
                </div>
              </div>
              <div class="item clearfix">
                <figure>
                  <img src="https://si0.twimg.com/profile_images/344513261565732671/9c85097693dd74f3dbe092e9c249d39f_normal.jpeg" alt="Michał Ostruszka"/>
                </figure>
                <div class="text"><h6 class="clearfix"><span>Michał Ostruszka</span>
                  <a href="http://twitter.com/mostruszka" target="_blank">@mostruszka</a>
                  <span class="date">Sep 20</span></h6>Retrospection session with
                  <a href="http://www.twitter.com/codebrag" target="_blank">@codebrag</a> team using
                  <a href="http://www.twitter.com/hackpad" target="_blank">@hackpad</a> for collaboration. Awesome!
                </div>
              </div>
              <div class="item clearfix">
                <figure>
                  <img src="https://si0.twimg.com/profile_images/1154087697/902bcec23881c4d32f6b7a1f9797a061_normal.jpeg" alt="grajo"/>
                </figure>
                <div class="text"><h6 class="clearfix"><span>grajo</span>
                  <a href="http://twitter.com/grajo" target="_blank">@grajo</a> <span class="date">Sep 20</span></h6>I
                  signed up for Data Analysis from <a href="http://www.twitter.com/JohnsHopkins" target="_blank">@JohnsHopkins</a>
                  on <a href="http://www.twitter.com/Coursera" target="_blank">@Coursera</a>!
                  <a href="https://t.co/OOI7YYIIUj" target="_blank">https://t.co/OOI7YYIIUj</a>
                  <a href="http://twitter.com/search?q=dataanalysis" target="_blank">#dataanalysis</a></div>
              </div>
              <div class="item clearfix">
                <figure>
                  <img src="https://si0.twimg.com/profile_images/1154087697/902bcec23881c4d32f6b7a1f9797a061_normal.jpeg" alt="grajo"/>
                </figure>
                <div class="text"><h6 class="clearfix"><span>grajo</span>
                  <a href="http://twitter.com/grajo" target="_blank">@grajo</a> <span class="date">Sep 20</span></h6>I
                  signed up for Computing for Data Analysis from
                  <a href="http://www.twitter.com/JohnsHopkins" target="_blank">@JohnsHopkins</a> on
                  <a href="http://www.twitter.com/Coursera" target="_blank">@Coursera</a>!
                  <a href="https://t.co/80kFAl1geO" target="_blank">https://t.co/80kFAl1geO</a>
                  <a href="http://twitter.com/search?q=compdata" target="_blank">#compdata</a></div>
              </div>
              <div class="item clearfix">
                <figure>
                  <img src="https://abs.twimg.com/sticky/default_profile_images/default_profile_2_normal.png" alt="Michał Matłoka"/>
                </figure>
                <div class="text"><h6 class="clearfix"><span>Michał Matłoka</span>
                  <a href="http://twitter.com/mmatloka" target="_blank">@mmatloka</a> <span class="date">Sep 20</span>
                </h6><a href="http://www.twitter.com/ALRubinger" target="_blank">@ALRubinger</a> alien invasion
                </div>
              </div>
            </div>
            <div class="tweet-box">
              <div class="item clearfix">
                <figure>
                  <img src="https://si0.twimg.com/profile_images/344513261565732671/9c85097693dd74f3dbe092e9c249d39f_normal.jpeg" alt="Michał Ostruszka"/>
                </figure>
                <div class="text"><h6 class="clearfix"><span>Michał Ostruszka</span>
                  <a href="http://twitter.com/mostruszka" target="_blank">@mostruszka</a>
                  <span class="date">Sep 19</span></h6>I keep writing "modules.export" instead of "module.exports" in
                  <a href="http://twitter.com/search?q=nodejs" target="_blank">#nodejs</a> code this evening. Time to
                  get some sleep, definitely.
                </div>
              </div>
              <div class="item clearfix">
                <figure>
                  <img src="https://si0.twimg.com/profile_images/3211897605/6a8c43351d0876128db1f6b644034420_normal.jpeg" alt="Pawel Wrzeszcz"/>
                </figure>
                <div class="text"><h6 class="clearfix"><span>Pawel Wrzeszcz</span>
                  <a href="http://twitter.com/pawelwrzeszcz" target="_blank">@pawelwrzeszcz</a> <span class="date">Sep 19</span>
                </h6>How to Get Customers to Want to Pay Even Before Building Your Product (via
                  <a href="http://www.twitter.com/Pocket" target="_blank">@Pocket</a>)
                  <a href="http://t.co/5dB3ZA8DgQ" target="_blank">http://t.co/5dB3ZA8DgQ</a></div>
              </div>
              <div class="item clearfix">
                <figure>
                  <img src="https://si0.twimg.com/profile_images/3726316203/77f8dcb90ce9fc8c89339dcbeef0a679_normal.png" alt="Krzysztof Ciesielski"/>
                </figure>
                <div class="text"><h6 class="clearfix"><span>Krzysztof Ciesielski</span>
                  <a href="http://twitter.com/kpciesielski" target="_blank">@kpciesielski</a>
                  <span class="date">Sep 19</span></h6>Blogged: Easy suite tagging with ScalaTest 2.0
                  <a href="http://t.co/iWRHBHYe1c" target="_blank">http://t.co/iWRHBHYe1c</a>
                  <a href="http://twitter.com/search?q=Scala" target="_blank">#Scala</a></div>
              </div>
              <div class="item clearfix">
                <figure>
                  <img src="https://si0.twimg.com/profile_images/3529991490/b7b18bd9a2589454bf024a232f31ca90_normal.jpeg" alt="Maciej Biłas"/>
                </figure>
                <div class="text"><h6 class="clearfix"><span>Maciej Biłas</span>
                  <a href="http://twitter.com/maciejb" target="_blank">@maciejb</a> <span class="date">Sep 19</span>
                </h6><a href="http://www.twitter.com/elamadej" target="_blank">@elamadej</a> and a +1 from me as we'll
                  to Evernote. Try out the new Chrome Evernote Clipper plugin especially.
                </div>
              </div>
              <div class="item clearfix">
                <figure>
                  <img src="https://si0.twimg.com/profile_images/2529116766/bmt2xco6uzcca1790g6p_normal.png" alt="Piotr Buda"/>
                </figure>
                <div class="text"><h6 class="clearfix"><span>Piotr Buda</span>
                  <a href="http://twitter.com/piotrbuda" target="_blank">@piotrbuda</a> <span class="date">Sep 19</span>
                </h6><a href="http://www.twitter.com/abdullin" target="_blank">@abdullin</a> then again, you'd have to
                  define the term masterpiece for the software domain :)
                </div>
              </div>
            </div>
            <div class="tweet-box">
              <div class="item clearfix">
                <figure>
                  <img src="https://si0.twimg.com/profile_images/2529116766/bmt2xco6uzcca1790g6p_normal.png" alt="Piotr Buda"/>
                </figure>
                <div class="text"><h6 class="clearfix"><span>Piotr Buda</span>
                  <a href="http://twitter.com/piotrbuda" target="_blank">@piotrbuda</a> <span class="date">Sep 19</span>
                </h6><a href="http://www.twitter.com/abdullin" target="_blank">@abdullin</a> LMAX?
                </div>
              </div>
              <div class="item clearfix">
                <figure>
                  <img src="https://abs.twimg.com/sticky/default_profile_images/default_profile_2_normal.png" alt="Michał Matłoka"/>
                </figure>
                <div class="text"><h6 class="clearfix"><span>Michał Matłoka</span>
                  <a href="http://twitter.com/mmatloka" target="_blank">@mmatloka</a> <span class="date">Sep 19</span>
                </h6><a href="http://www.twitter.com/majson" target="_blank">@majson</a> does this mean end of the
                  webfear nightmare?;)
                </div>
              </div>
              <div class="item clearfix">
                <figure>
                  <img src="https://abs.twimg.com/sticky/default_profile_images/default_profile_2_normal.png" alt="Michał Matłoka"/>
                </figure>
                <div class="text"><h6 class="clearfix"><span>Michał Matłoka</span>
                  <a href="http://twitter.com/mmatloka" target="_blank">@mmatloka</a> <span class="date">Sep 19</span>
                </h6><a href="http://www.twitter.com/majson" target="_blank">@majson</a> ?? sounds like job change?
                </div>
              </div>
              <div class="item clearfix">
                <figure>
                  <img src="https://si0.twimg.com/profile_images/1109116554/okulary_kapelusz_normal.png" alt="szimano"/>
                </figure>
                <div class="text"><h6 class="clearfix"><span>szimano</span>
                  <a href="http://twitter.com/szimano" target="_blank">@szimano</a> <span class="date">Sep 19</span>
                </h6><a href="http://www.twitter.com/mojavelinux" target="_blank">@mojavelinux</a>
                  <a href="http://www.twitter.com/tombujok" target="_blank">@tombujok</a> guys contact
                  <a href="http://www.twitter.com/nwkr" target="_blank">@nwkr</a> he hosts windows and is very OSS
                  friendly. Very very ;-)
                </div>
              </div>
              <div class="item clearfix">
                <figure>
                  <img src="https://si0.twimg.com/profile_images/344513261565732671/9c85097693dd74f3dbe092e9c249d39f_normal.jpeg" alt="Michał Ostruszka"/>
                </figure>
                <div class="text"><h6 class="clearfix"><span>Michał Ostruszka</span>
                  <a href="http://twitter.com/mostruszka" target="_blank">@mostruszka</a>
                  <span class="date">Sep 19</span></h6>Some
                  <a href="http://twitter.com/search?q=jshint" target="_blank">#jshint</a> errors make me dumb :)
                </div>
              </div>
            </div>
            <div class="tweet-box">
              <div class="item clearfix">
                <figure>
                  <img src="https://si0.twimg.com/profile_images/1154087697/902bcec23881c4d32f6b7a1f9797a061_normal.jpeg" alt="grajo"/>
                </figure>
                <div class="text"><h6 class="clearfix"><span>grajo</span>
                  <a href="http://twitter.com/grajo" target="_blank">@grajo</a> <span class="date">Sep 19</span></h6>
                  IOS7 rocks!
                </div>
              </div>
              <div class="item clearfix">
                <figure>
                  <img src="https://abs.twimg.com/sticky/default_profile_images/default_profile_2_normal.png" alt="Michał Matłoka"/>
                </figure>
                <div class="text"><h6 class="clearfix"><span>Michał Matłoka</span>
                  <a href="http://twitter.com/mmatloka" target="_blank">@mmatloka</a> <span class="date">Sep 18</span>
                </h6><a href="http://www.twitter.com/gegastaldi" target="_blank">@gegastaldi</a> you're against mac os x
                  but you have an iphone?!
                </div>
              </div>
              <div class="item clearfix">
                <figure>
                  <img src="https://abs.twimg.com/sticky/default_profile_images/default_profile_2_normal.png" alt="Michał Matłoka"/>
                </figure>
                <div class="text"><h6 class="clearfix"><span>Michał Matłoka</span>
                  <a href="http://twitter.com/mmatloka" target="_blank">@mmatloka</a> <span class="date">Sep 18</span>
                </h6><a href="http://www.twitter.com/majson" target="_blank">@majson</a>
                  <a href="http://www.twitter.com/aslakknutsen" target="_blank">@aslakknutsen</a> I can create feature
                  request with description "ui testing of persistence", rest of fun I will leave for you :P
                </div>
              </div>
              <div class="item clearfix">
                <figure>
                  <img src="https://abs.twimg.com/sticky/default_profile_images/default_profile_2_normal.png" alt="Michał Matłoka"/>
                </figure>
                <div class="text"><h6 class="clearfix"><span>Michał Matłoka</span>
                  <a href="http://twitter.com/mmatloka" target="_blank">@mmatloka</a> <span class="date">Sep 18</span>
                </h6><a href="http://www.twitter.com/aslakknutsen" target="_blank">@aslakknutsen</a> thx :)! however
                  like <a href="http://www.twitter.com/majson" target="_blank">@majson</a> noticed unfrotunatelly we
                  have to fix that " ui testing of persistence" in the description :(
                </div>
              </div>
              <div class="item clearfix">
                <figure>
                  <img src="https://abs.twimg.com/sticky/default_profile_images/default_profile_2_normal.png" alt="Michał Matłoka"/>
                </figure>
                <div class="text"><h6 class="clearfix"><span>Michał Matłoka</span>
                  <a href="http://twitter.com/mmatloka" target="_blank">@mmatloka</a> <span class="date">Sep 18</span>
                </h6><a href="http://www.twitter.com/majson" target="_blank">@majson</a>
                  <a href="http://www.twitter.com/aslakknutsen" target="_blank">@aslakknutsen</a> well, why do you still
                  don't have such feature in persistence extentions?! corrected, thx ;P
                </div>
              </div>
            </div>
            <div class="tweet-box">
              <div class="item clearfix">
                <figure>
                  <img src="https://abs.twimg.com/sticky/default_profile_images/default_profile_2_normal.png" alt="Michał Matłoka"/>
                </figure>
                <div class="text"><h6 class="clearfix"><span>Michał Matłoka</span>
                  <a href="http://twitter.com/mmatloka" target="_blank">@mmatloka</a> <span class="date">Sep 18</span>
                </h6><a href="http://www.twitter.com/gegastaldi" target="_blank">@gegastaldi</a>
                  <a href="http://www.twitter.com/aslakknutsen" target="_blank">@aslakknutsen</a> I have not found more
                  people on lanyrd, eveyrthing is described on jug site ;)
                </div>
              </div>
              <div class="item clearfix">
                <figure>
                  <img src="https://abs.twimg.com/sticky/default_profile_images/default_profile_2_normal.png" alt="Michał Matłoka"/>
                </figure>
                <div class="text"><h6 class="clearfix"><span>Michał Matłoka</span>
                  <a href="http://twitter.com/mmatloka" target="_blank">@mmatloka</a> <span class="date">Sep 18</span>
                </h6><a href="http://www.twitter.com/aslakknutsen" target="_blank">@aslakknutsen</a> corrected ;)
                </div>
              </div>
              <div class="item clearfix">
                <figure>
                  <img src="https://abs.twimg.com/sticky/default_profile_images/default_profile_2_normal.png" alt="Michał Matłoka"/>
                </figure>
                <div class="text"><h6 class="clearfix"><span>Michał Matłoka</span>
                  <a href="http://twitter.com/mmatloka" target="_blank">@mmatloka</a> <span class="date">Sep 18</span>
                </h6><a href="http://www.twitter.com/ALRubinger" target="_blank">@ALRubinger</a> thx!
                </div>
              </div>
              <div class="item clearfix">
                <figure>
                  <img src="https://abs.twimg.com/sticky/default_profile_images/default_profile_2_normal.png" alt="Michał Matłoka"/>
                </figure>
                <div class="text"><h6 class="clearfix"><span>Michał Matłoka</span>
                  <a href="http://twitter.com/mmatloka" target="_blank">@mmatloka</a> <span class="date">Sep 18</span>
                </h6><a href="http://www.twitter.com/aslakknutsen" target="_blank">@aslakknutsen</a>
                  <a href="http://t.co/XphZvZUVYx" target="_blank">http://t.co/XphZvZUVYx</a> :)
                </div>
              </div>
              <div class="item clearfix">
                <figure>
                  <img src="https://si0.twimg.com/profile_images/344513261565732671/9c85097693dd74f3dbe092e9c249d39f_normal.jpeg" alt="Michał Ostruszka"/>
                </figure>
                <div class="text"><h6 class="clearfix"><span>Michał Ostruszka</span>
                  <a href="http://twitter.com/mostruszka" target="_blank">@mostruszka</a>
                  <span class="date">Sep 18</span></h6><a href="http://www.twitter.com/koziolek" target="_blank">@koziolek</a>
                  istnieje, istnieje... Po prostu jeszcze ci się nie objawił
                </div>
              </div>
            </div>
            <div class="tweet-box">
              <div class="item clearfix">
                <figure>
                  <img src="https://si0.twimg.com/profile_images/3211897605/6a8c43351d0876128db1f6b644034420_normal.jpeg" alt="Pawel Wrzeszcz"/>
                </figure>
                <div class="text"><h6 class="clearfix"><span>Pawel Wrzeszcz</span>
                  <a href="http://twitter.com/pawelwrzeszcz" target="_blank">@pawelwrzeszcz</a> <span class="date">Sep 18</span>
                </h6>Is There Life After Email? Yes, And It's Amazing <a href="http://t.co/LnKfletgUZ" target="_blank">http://t.co/LnKfletgUZ</a>
                  <a href="http://www.twitter.com/berkun" target="_blank">@berkun</a></div>
              </div>
              <div class="item clearfix">
                <figure>
                  <img src="https://si0.twimg.com/profile_images/1702628409/face_final_normal.JPG" alt="Tomasz Dziurko"/>
                </figure>
                <div class="text"><h6 class="clearfix"><span>Tomasz Dziurko</span>
                  <a href="http://twitter.com/TomaszDziurko" target="_blank">@TomaszDziurko</a> <span class="date">Sep 18</span>
                </h6>The best comment in <a href="http://www.twitter.com/codebrag" target="_blank">@codebrag</a> so far:
                  Commit with added new test written in TestNG and the comment below:
                  <a href="http://t.co/tVC8IEkJfc" target="_blank">http://t.co/tVC8IEkJfc</a></div>
              </div>
              <div class="item clearfix">
                <figure>
                  <img src="https://si0.twimg.com/profile_images/1154087697/902bcec23881c4d32f6b7a1f9797a061_normal.jpeg" alt="grajo"/>
                </figure>
                <div class="text"><h6 class="clearfix"><span>grajo</span>
                  <a href="http://twitter.com/grajo" target="_blank">@grajo</a> <span class="date">Sep 18</span></h6>
                  Stack Exchange Q&amp;A site proposal: Embedded Programming and Design
                  <a href="http://t.co/J1uanDEr4y" target="_blank">http://t.co/J1uanDEr4y</a></div>
              </div>
              <div class="item clearfix">
                <figure>
                  <img src="https://abs.twimg.com/sticky/default_profile_images/default_profile_2_normal.png" alt="Michał Matłoka"/>
                </figure>
                <div class="text"><h6 class="clearfix"><span>Michał Matłoka</span>
                  <a href="http://twitter.com/mmatloka" target="_blank">@mmatloka</a> <span class="date">Sep 17</span>
                </h6>I will be presenting about <a href="http://twitter.com/search?q=Arquillian" target="_blank">#Arquillian</a>
                  extensions on Poznan JUGtober Fest <a href="http://t.co/cKS2qLNXyM" target="_blank">http://t.co/cKS2qLNXyM</a>
                </div>
              </div>
              <div class="item clearfix">
                <figure>
                  <img src="https://si0.twimg.com/profile_images/3211897605/6a8c43351d0876128db1f6b644034420_normal.jpeg" alt="Pawel Wrzeszcz"/>
                </figure>
                <div class="text"><h6 class="clearfix"><span>Pawel Wrzeszcz</span>
                  <a href="http://twitter.com/pawelwrzeszcz" target="_blank">@pawelwrzeszcz</a> <span class="date">Sep 17</span>
                </h6>Thank you very much <a href="http://www.twitter.com/andreaprovaglio" target="_blank">@andreaprovaglio</a>
                  for recommending me Walking Meditation. It's a life-changing experience
                  <a href="http://t.co/5Vr7uCNKr9" target="_blank">http://t.co/5Vr7uCNKr9</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</article>
