---
layout: default
---
<div class="baner-home-container">
  <div id="baner-home">

    <div class="top01 clearfix baner">
      <div class="claim">small teams<br/><span class="font-pink">build great software</span></div>
      <div class="blocks">
        <div class="row">
          <div class="square empty-pink appear" data-appear="3"></div>
        </div>
        <div class="row">
          <div class="square logo clickable resize-claim appear" data-order="2" data-appear="3">
            <figure class="square"></figure>
            <div class="desc"><b>22</b> passionate professionals</div>
          </div>
        </div>
        <div class="row grey clearfix">
          <div class="markup clearfix clickable appear" data-order="1" data-appear="2">
            <figure class="square"></figure>
            <div class="desc">Currently working on<br/><b>7 projects</b></div>
          </div>
          <div class="square empty-darkgreen appear" data-appear="2"></div>
        </div>
      </div>
      <div class="big-block blue-computer clickable appear" data-order="3" data-appear="4">
        <div class="desc">From document<br/>management system to<br/>high-throughput<br/>SMS gateway</div>
        <figure class="big-square"></figure>
      </div>
    </div>

    <div class="top02 clearfix baner">
      <div class="claim">passionate teams <br/><span class="font-dark-green">grow from communities</span></div>
      <div class="blocks">
        <div class="row">
          <div class="square empty-violet appear" data-appear="2"></div>
        </div>
        <div class="row">
          <div class="square conversation clickable resize-claim appear" data-order="2" data-appear="2">
            <figure class="square"></figure>
            <div class="desc">Involved in almost every<br/>Java/Scala/Agile community<br/><b>in Poland ;)</b></div>
          </div>
        </div>
        <div class="row clearfix">
          <div class="trumpet clearfix clickable appear" data-order="1" data-appear="1">
            <figure class="square"></figure>
            <div class="desc"><b>Frequent speakers</b> at conferences</div>
          </div>
          <div class="square empty-green appear" data-appear="1"></div>
          <div class="square empty-grey appear" data-appear="1"></div>
        </div>
      </div>
      <div class="big-block views clickable appear" data-appear="3" data-order="3">
        <figure class="big-square"></figure>
        <div class="desc"><b>views monthly on our developers’ blogs</b></div>
      </div>
    </div>

    <div class="top03 clearfix baner">
      <div class="claim">great software<br/><span class="font-blue">knows no boundaries</span></div>
      <div class="blocks">
        <div class="row">
          <div class="square rocket clickable resize-claim appear" data-appear="2" data-order="1">
            <figure class="square"></figure>
            <div class="desc"><b>Always ready</b><br/>for new challenges</div>
          </div>
        </div>
        <div class="row">
          <div class="square empty-blue appear" data-appear="2"></div>
        </div>
        <div class="row clearfix">
          <div class="pointer clearfix clickable appear" data-appear="1" data-order="1">
            <figure class="square"></figure>
            <div class="desc"><b>Just a click away,</b><br/>no matter the distance</div>
          </div>
          <div class="square empty-violet appear" data-appear="1"></div>
          <div class="square empty-grey appear" data-appear="1"></div>
          <div class="square empty-white appear" data-appear="1"></div>
        </div>
      </div>
      <div class="big-block earth clickable appear" data-appear="3" data-order="3">
        <figure class="big-square"></figure>
        <div class="desc"><b>Successfully delivering to</b><br/>North America, Europe,<br/>Africa and Australia</div>
      </div>
    </div>
  </div>

</div>
<div id="baner-nav">
  <a href="#" class="prev"></a>
  <a href="#" class="next"></a>
</div>

<article id="home">

  <section class="border">
    <div class="wrapper clearfix">
      <div class="services clearfix">
        <h6>Services</h6>

        <h2>We develop custom software solutions:</h2>
        <ul class="clearfix">
          <li class="web">Web applications</li>
          <li class="back-end">Back-end systems</li>
          <li class="enterprise">Enterprise solutions</li>
        </ul>
        <p>We build them with care and strong belief in&nbsp;agile approach.</p>
        <a href="/services/" class="see-more">See more</a>
      </div>
      <div class="technologies">
        <h6>Technologies</h6>

        <p>In short, we specialize and love working with:<br/><br/>
          <span class="font-normal font-blue">Java</span> (Enterprise Edition), <span class="font-normal font-pink">Scala</span>
          and <span class="font-normal font-green">Cloud</span>.
        </p>
        <a href="/services/#technologies" class="see-more">See more</a>
      </div>
    </div>
  </section>

  <section class="border">
    <div class="wrapper clearfix">
      <h6>Featured work</h6>
      <div class="cases">
        <div>
          <a href="/portfolio/#vocado" class="case" case="0">
            <h2 class="light">Vocado</h2>
            <p>End-to-end school management solution</p>
            <figure>
              <img src="/img/case1.png" alt="Vocado"/>
            </figure>
          </a>

          <a href="/portfolio/#intelli-sms" class="case" case="1">
            <h2 class="light">Intelli SMS
              MessageCore<sup>(TM)</sup></h2>
            <p>High-throughput SMS message gateway</p>
            <figure>
              <img src="/img/case3.png" alt="Intelli SMS MessageCore<sup>(TM)</sup>"/>
            </figure>
          </a>

          <a href="/portfolio/#circular" class="case" case="2">
            <h2 class="light">Circular</h2>
            <p>Cloud-based document management system</p>
            <figure>
              <img src="/img/case5.png" alt="Circular"/></figure>
          </a>
        </div>

        <div>
          <a href="/portfolio/#jbison" class="case" case="3">
            <h2 class="light">JBison</h2>
            <p>JBoss and web monitoring</p>
            <figure>
              <img src="/img/case4.png" alt="JBison"/></figure>
          </a>

          <a href="/portfolio/#attikis" class="case" case="4">
            <h2 class="light">Attikis</h2>
            <p>Home alarm system with web integration</p>
            <figure>
              <img src="/img/case2.png" alt="Attikis"/>
            </figure>
          </a>

          <a href="/portfolio/#codebrag" class="case" case="5">
            <h2 class="light">Codebrag</h2>
            <p>Tool for code reviews</p>
            <figure>
              <img src="/img/case6.png" alt="Codebrag"/>
            </figure>
          </a>
        </div>
      </div>

      <div class="cases-nav clearfix">
        <a href="#" class="prev"></a>
        <a href="#" class="next"></a>
      </div>

      <div class="cases-views">
        <div class="view green first  up " case="0">
          <h2 class="light"><span class="font-normal">Vocado</span></h2>
          <p>End-to-end school management solution</p>
          <h5>| Web app</h5>
          <a href="/portfolio/#vocado" class="see-more">View</a>
        </div>

        <div class="view blue second  down " case="1">
          <h2 class="light"><span class="font-normal">Intelli SMS MessageCore<sup>(TM)</sup></span></h2>
          <p>High-throughput SMS message gateway</p>
          <h5>| Enterprise solution</h5>
          <a href="/portfolio/#intelli-sms" class="see-more">View</a>
        </div>

        <div class="view green third  up " case="2">
          <h2 class="light"><span class="font-normal">Circular</span></h2>
          <p>Cloud-based document management system</p>
          <h5>| Web app</h5><a href="/portfolio/#circular" class="see-more">View</a>
        </div>

        <div class="view green first  down " case="3">
          <h2 class="light"><span class="font-normal">JBison</span></h2>
          <p>JBoss and web monitoring</p>
          <h5>| Web app</h5><a href="/portfolio/#jbison" class="see-more">View</a>
        </div>

        <div class="view pink second  up " case="4">
          <h2 class="light"><span class="font-normal">Attikis</span></h2>
          <p>Home alarm system with web integration</p>
          <h5>| Back-end system</h5>
          <a href="/portfolio/#attikis" class="see-more">View</a>
        </div>

        <div class="view blue third  down " case="5">
          <h2 class="light"><span class="font-normal">Codebrag</span></h2>
          <p>Tool for code reviews</p>
          <h5>| Enterprise solution</h5><a href="/portfolio/#codebrag" class="see-more">View</a>
        </div>
      </div>

      <a href="/portfolio/" class="see-more all-cases">See all projects</a>
    </div>
  </section>


  <section class="twitter-section">
    <div class="wrapper">
      <div class="twitter-slider">
        {% include generated/twitter-home.html %}
      </div>
      <div class="twitter-nav clearfix">
        <a href="#" class="prev"></a>
        <a href="#" class="next"></a>
      </div>
    </div>
  </section>

  <section class="border">
    <div class="wrapper clearfix">
      <div class="white-paper clearfix">
        <h6>News</h6>
        <figure>
          <img src="/img/news.png" alt="News"/>
        </figure>
        <p>
          <strong>Thanks for visiting our new website!</strong>
          We're really excited to launch our new logo at the same time.
          Read about the changes and let us know how you like our new identity.
        </p>
        <a href="/brand-new-softwaremill" class="see-more">Read more</a>
      </div>
      <div class="conferences">
        <h6>Conferences</h6>
        <p>
          <strong>We organize Scalar</strong>
          - a conference for developers, project managers and everyone, who shares the passion for Scala.
        </p>
        <a href="/meet-the-team/#find-us-at" class="see-more">Learn more</a>
      </div>
    </div>
  </section>

  <section class="border">
    <div class="wrapper clearfix">
      {% for post in site.categories.company limit: 1 %}
      {% include blog.html color='blue' %}
      {% endfor %}

      {% include generated/team-posts-home.html %}
      <a href="/blog/" class="see-more all-news">See all</a>
    </div>
  </section>

</article>
