---
layout: default
title: Blog - SoftwareMill
description: We are back-end wizards and we love to share our knowledge. Here are our blogs about Java, Scala, Big Data and many many more.
keywords: blog, java, scala, big data, aws, jboss
---
<div id="baner-contact">
  <div class="wrapper font-green">What we've been up to</div>
</div>
<div id="submenu">
  <nav class="nav">
    <div class="wrapper clearfix">
      <ul class="clearfix">
        <li><a href="#company-news">Company News</a></li>
        <li><a href="#team-posts">Our Team's Posts</a></li>
        <li><a href="#presentations">Our Presentations</a></li>
      </ul>
    </div>
  </nav>
</div>

<article id="blog">
  <section id="company-news">
    <div class="block border">
      <div class="wrapper clearfix">
        <h6>Company News</h6>
        <div class="blog-list-container" id="blogs-slider">
          {% for post in site.categories.company %}
          {% include blogs.html color='blue' %}
          {% endfor %}
        </div>

        <nav id="blogs-slider-nav" class="clearfix">
          <a class="prev"></a>
          <a class="next"></a>
        </nav>
        <a href="#" class="see-more blog-list-link">See all</a>
      </div>
    </div>
  </section>


  <section id="team-posts">
    <div class="block border">
      <div class="wrapper clearfix">
        <h6>Our team's posts</h6>
        <div class="blog-list-container" id="members-blogs-slider">
          {% include generated/team-posts-blog.html %}
        </div>

        <nav id="members-blogs-slider-nav" class="clearfix">
          <a class="prev"></a>
          <a class="next"></a>
        </nav>

        <a href="#" class="see-more blog-list-link">See all</a>
      </div>
    </div>
  </section>


  <section id="presentations">
    <div class="block border">
      <div class="wrapper clearfix">
        <h6>Our presentations</h6>
        <div class="blog-list-container" id="members-presentations-slider">
          {% for presentation in site.categories.presentations %}
          {% include presentations.html color='violet' %}
          {% endfor %}
        </div>

        <nav id="members-presentations-slider-nav" class="clearfix">
          <a class="prev"></a>
          <a class="next"></a>
        </nav>

        <a href="#" class="see-more blog-list-link">See all</a>
      </div>
    </div>
  </section>


  <section id="blog-list">
    <div class="block">
      <div class="wrapper clearfix">
        <div class="col2">
          <h6>Team members' blogs</h6>

          <ul class="members-blog">
            <li><a href="http://maciej.inszy.org" target="_blank" class="clearfix">
              <div class="name"><span></span>Maciej Biłas</div>
              <div class="link">tail ‐f log/development.log</div>
            </a></li>
            <li><a href="http://piotrbuda.eu" target="_blank" class="clearfix">
              <div class="name"><span></span>Piotr Buda</div>
              <div class="link">Software Ramblings</div>
            </a></li>
            <li><a href="http://abstractionextraction.wordpress.com" target="_blank" class="clearfix">
              <div class="name"><span></span>Krzysztof Ciesielski</div>
              <div class="link">Abstraction Extraction</div>
            </a></li>
            <li><a href="http://tomaszdziurko.pl" target="_blank" class="clearfix">
              <div class="name"><span></span>Tomasz Dziurko</div>
              <div class="link">Code Hard Go Pro</div>
            </a></li>
            <li><a href="http://www.softwarepassion.com" target="_blank" class="clearfix">
              <div class="name"><span></span>Krzysztof Grajek</div>
              <div class="link">Software Passion</div>
            </a></li>
            <li><a href="http://kijanowski.eu" target="_blank" class="clearfix">
              <div class="name"><span></span>Jarosław Kijanowski</div>
              <div class="link">Liquid Sky</div>
            </a></li>
            <li><a href="http://blog.digitalsoftware.pl/" target="_blank" class="clearfix">
              <div class="name"><span></span>Daniel Kos</div>
              <div class="link">Digital Software Blog</div>
            </a></li>
            <li><a href="http://blog.jankowalski.pl" target="_blank" class="clearfix">
              <div class="name"><span></span>Jan Kowalski</div>
              <div class="link">Johny's blog</div>
            </a></li>
            <li><a href="http://mikołak.net/" target="_blank" class="clearfix">
              <div class="name"><span></span>Mikołaj Koziarkiewicz</div>
              <div class="link">Mikołak</div>
            </a></li>
            <li><a href="https://marcinkubala.wordpress.com/" target="_blank" class="clearfix">
              <div class="name"><span></span>Marcin Kubala</div>
              <div class="link">Dev's Pad</div>
            </a></li>
            <li><a href="http://blog.kunicki.org" target="_blank" class="clearfix">
              <div class="name"><span></span>Jacek Kunicki</div>
              <div class="link">Blog Rudego. Góry i nie tylko</div>
            </a></li>
            <li><a href="http://dailylog.lenart.org.pl" target="_blank" class="clearfix">
              <div class="name"><span></span>Łukasz Lenart</div>
              <div class="link">Dailylog – from my work as a developer</div>
            </a></li>
            <li><a href="http://michalostruszka.pl" target="_blank" class="clearfix">
              <div class="name"><span></span>Michał Ostruszka</div>
              <div class="link">Hi, I'm Michal. I write code.</div>
            </a></li>
            <li><a href="http://pawelstawicki.blogspot.com" target="_blank" class="clearfix">
              <div class="name"><span></span>Paweł Stawicki</div>
              <div class="link">Java, the programming and everything</div>
            </a></li>
            <li><a href="http://szimano.org" target="_blank" class="clearfix">
              <div class="name"><span></span>Tomasz Szymański</div>
              <div class="link">Szimano’s Blog</div>
            </a></li>
            <li><a href="http://www.warski.org/blog/" target="_blank" class="clearfix">
              <div class="name"><span></span>Adam Warski</div>
              <div class="link">Java, Scala, programming, ...</div>
            </a></li>
            <li><a href="http://blog.zuchos.com" target="_blank" class="clearfix">
              <div class="name"><span></span>Łukasz Żuchowski</div>
              <div class="link">Blog of Łukasz Żuchowski</div>
            </a></li>
            <li><a href="http://bandrzejczak.com" target="_blank" class="clearfix">
              <div class="name"><span></span>Bartek Andrzejczak</div>
              <div class="link">Musings on Software Development</div>
            </a></li>
          </ul>
        </div>
        <div class="col2 members-tweets">
          <h6>Our team’s tweets</h6>

          <div class="our-teams-tweets-nav clearfix">
            <a href="#" class="prev"></a>
            <a href="#" class="next"></a>
          </div>
          <div class="clearfix our-teams-tweets" data-source="https://api.twitter.com/1.1/search/tweets.json?q=%23freebandnames&since_id=24012619984051000&max_id=250126199840518145&result_type=mixed&count=4">
            {% include generated/twitter-blog.html %}
          </div>
        </div>
      </div>
    </div>
  </section>

</article>
