---
layout: default
title: Meet the team - SoftwareMill
description: Our developers have 8+ years of experience in Java, JEE, Hibernate, JSF, Struts, RoR, JavaScript. We combine technical expertise with project management.
keywords: developers, java, jee, hibernate, jsf, struts, ror, javascript, jboss, scala
---

<div id="baner">
  <div class="wrapper clearfix">
      {% include generated/team-stats.html %}
  </div>
</div>

<div id="submenu">
  <nav class="nav">
    <div class="wrapper clearfix">
      <ul class="clearfix">
        <li><a href="#our-team">Our Team</a></li>
        <li><a href="#find-us-at">Find Us at...</a></li>
        <!--
        <li><a href="#coming-events">Upcoming events</a></li>
        //-->
      </ul>
    </div>
  </nav>

</div>


<div class="wrapper">

  <article class="clearfix" id="our-team">

      {% include generated/meet-team.html %}

    <div class="member-container blue">
      <div class="member">
        <figure>
          <img src="/img/members/you.png" alt="Join us!"/>
        </figure>
        <a href="../join-us" class="description">
          <h3>You<br/>
            <span class="light">Join us</span></h3>
          <span class="button simple-more">more</span>
        </a>
      </div>
    </div>


  </article>


  <article id="find-us-at" class="clearfix">

    <div class="col-find-us">

      <h1 class="light">Find us at...</h1>

      <div class="scalar">
        <h2 class="light">Scalar</h2>
        SoftwareMill organizes <strong>Scalar</strong> - the largest Scala community conference in Central Europe.
        <a href="http://scalar-conf.com/" class="button light-blue" target="_blank">Scalar <span class="more"></span></a>
      </div>

      <div class="confitura">
        <h2 class="light">Confitura</h2>
        We help to organize Confitura (formerly Javarsovia) -&nbsp;the largest Java community conference in Poland.
        <a href="http://confitura.pl" class="button red" target="_blank">Confitura <span class="more"></span></a>
      </div>

    </div>

    <div class="col-leaders" id="co-leaders">

      <h1 class="light">SoftwareMill team members are<br/>(co-)leaders of:</h1>
      <ul>
        <li><a>Java User Groups</a><span></span></li>
        <ol>
          <li><a href="https://groups.google.com/forum/?fromgroups#!forum/warszawa-jug" target="_blank">Warszawa JUG</a><span></span>
          </li>
          <li><a href="http://www.java.pl" target="_blank">Polish JUG</a><span></span></li>
          <li><a href="https://groups.google.com/forum/?fromgroups#!forum/szczecin-jug" target="_blank">Szczecin JUG</a><span></span>
          </li>
          <li><a href="https://groups.google.com/forum/?fromgroups#!forum/lublin-jug" target="_blank">Lublin
            JUG</a><span></span></li>
          <li><a href="https://sites.google.com/site/juglodz/" target="_blank">Łódź JUG</a><span></span></li>
          <li><a href="http://www.meetup.com/Zielona-Gora-JUG/" target="_blank">Zielona Góra JUG</a><span></span></li>
        </ol>
        <li><a href="http://www.lbn.sc" target="_blank">Lublin Software Craftsmanship</a><span></span></li>
        <li><a href="https://sites.google.com/site/warszawajug/warsjawa-2012" target="_blank">WarsJava</a><span></span>
        </li>
        <li><a href="http://2013.devcrowd.pl" target="_blank">DevCrowd</a><span></span></li>
      </ul>
    </div>

  </article>


  <article id="coming-events" class="clearfix">

    <h1 class="light large">We are happy to chat over a cup of coffee
      <div class="coffee-icon"></div>
      <br/> at the following events:
    </h1>
    <div class="timeline">

      <div class="timeline-slider">
        <div data-quarter="1-2014">
            <nav class="clearfix"><a href="#" class="prev"><span>Q4 2013</span> <span class="circle"></span></a></nav>
          <div class="marker violet" href="#" style="margin-left: 180px">
            <div class="desc"><h4><span>21 January 2014</span></h4><h5>
              <a href="http://www.jug.poznan.pl/2014/01/spotkanie-poznan-jug-maciej-bilas-listen-to-the-sounds-of-your-application-21-01-2014/" target="_blank"><span style="display: block;">Poznań JUG<span class="plus">+</span></span></a>
            </h5><h6>Maciej Biłas speaking</h6>
            </div>
            <div class="circle"></div>
          </div>
          <div class="marker pink" href="#" style="margin-left: 200px">
            <div class="desc"><h4><span>22 January 2014</span></h4><h5>
              <a href="http://szjug.pl/maciej-bilas-listen-to-the-sounds-of-your-application/" target="_blank"><span style="display: block;">Szczecin JUG<span class="plus">+</span></span></a>
            </h5><h6>Maciej Biłas speaking</h6>
            </div>
            <div class="circle"></div>
          </div>
          <div class="marker light-green" href="#" style="margin-left: 354px">
            <div class="desc"><h4><span>3-5 February 2014</span></h4><h5>
              <a href="http://www.jfokus.se/" target="_blank"><span style="display: block;">JFokus 2014 <span class="plus">+</span></span></a>
              </h5><h6>Adam Warski speaking</h6>
            </div>
            <div class="circle"></div>
          </div>
          <div class="marker violet" href="#" style="margin-left: 730px">
            <div class="desc"><h4><span>13 March 2014</span></h4><h5>
              <a href="http://tedxwarsaw.com/" target="_blank"><span style="display: block;">TEDxWarsaw<span class="plus">+</span></span></a>
            </h5><h6>Adam Warski and Paweł Wrzeszcz attending</h6>
            </div>
            <div class="circle"></div>
          </div>

        </div>
      </div>

    </div>

  </article>

</div>
